.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/main/resources/static/static/css/main.bcf9dfac.css
/src/main/resources/static/static/css/main.bcf9dfac.css.map
/src/main/resources/static/static/js/787.7452af59.chunk.js
/src/main/resources/static/static/js/787.7452af59.chunk.js.map
/src/main/resources/static/static/js/main.ad9c0f11.js
/src/main/resources/static/static/js/main.ad9c0f11.js.LICENSE.txt
/src/main/resources/static/static/js/main.ad9c0f11.js.map
/src/main/resources/static/static/media/logo.6ce24c58023cc2f8fd88fe9d219db6c6.svg
/src/main/resources/static/
