@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
    font-family: 'omyu_pretty';
}
.phonewrap{
    width: 600px;
    margin: 0 auto;
    display : flex;
    flex-direction: column;
    justify-content: center;
}

.phone_top{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

.phone_top input{
    width: 50%;
    height: 30px;
    padding : 5px;
}

.writeBtn{
    width: 50%;
    height: 30px;
    margin-top: 10px;
    background-color: black;
    color: white;
}

.phone_content{
    display : flex;
    justify-content: space-between;
    margin-top: 10px;
}
.phone_btn{
    display : flex;
    flex-direction: column;
    padding-top: 5px;
    }

.phone_btn button{
    background-color:black;
    color: white;
}

.phoneConBox{
    display : flex;
    flex-direction: column;
 }

 .content_box{
    padding-top: 5px;
 }